.draggable-container {
  overflow: hidden;
  /* no selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.draggable {
  width: 9999999px;
  white-space: nowrap; /* all on same line */
  font-size: 0; /* fix inline block spacing */
}
.draggable.nav > li > a  {
  font-size: 16px; /* give font size to links */
  color: #888;
}
