html, body {
  margin: 0;
  padding: 0;
  font-family: "Regular", sans-serif;
  width: 100%;
  max-width: 1920px;
  color: #000000;
  margin: 0 auto; }

@font-face {
  font-family: "Regular";
  src: url("../fonts/MyriadPro/MyriadPro-Regular.otf"); }
@font-face {
  font-family: "semiBold";
  src: url("../fonts/MyriadPro/MyriadPro-Semibold.otf"); }
@font-face {
  font-family: "Bold";
  src: url("../fonts/MyriadPro/MyriadPro-Bold.otf"); }
.btn-primary {
  border-color: #00ADEE;
  background: #00ADEE; }
  .btn-primary:active, .btn-primary:hover, .btn-primary:focus {
    border-color: #059AC9;
    background: #059AC9; }

.fSemi {
  font-family: "semiBold"; }

.fBold {
  font-family: "Bold"; }

.menu {
  position: absolute;
  top: 0;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 1;
  width: 100%; }
  .menu .logo {
    padding-top: 18px; }
    .menu .logo img {
      max-width: 200px;
      width: 100%; }
  .menu .share {
    padding-top: 18px; }
    .menu .share ul {
      padding: 0;
      list-style: none;
      text-align: right; }
      .menu .share ul li {
        display: inline-block;
        margin-left: 5px; }
        .menu .share ul li img {
          width: 100%;
          max-width: 20px; }
  .menu .signup {
    text-align: right;
    padding-top: 15px; }
    .menu .signup img {
      max-width: 30px; }

.header {
  background: url(../img/bg_header.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto 900px;
  padding-top: 150px;
  padding-bottom: 70px; }
  .header .left h1 span {
    color: #00ADEE; }
  .header .left .media {
    margin-bottom: 10px; }
    .header .left .media img {
      max-width: 18px; }
  .header .left small.text-muted {
    color: #BBBDBF !important; }
    .header .left small.text-muted img {
      max-width: 15px; }
  .header .right {
    text-align: right; }
    .header .right img {
      max-width: 520px;
      width: 100%; }

@media (max-width: 992px) {
  .header {
    margin-bottom: 60px; }
    .header .left {
      margin-top: 0; }
      .header .left h1 {
        font-size: 30px; }
      .header .left h4 {
        font-size: 20px; }
    .header .right {
      text-align: right; } }
@media (max-width: 768px) {
  .header {
    background: url(../img/bg_head_mobile.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto 350px;
    padding-bottom: 30px; }
    .header .left {
      margin-bottom: 60px; }
      .header .left h1, .header .left h4 {
        text-align: center; }
      .header .left .media {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px; }
        .header .left .media img {
          max-width: 20px; }
      .header .left .mt-4 {
        text-align: center; }
    .header .right {
      text-align: center; }
      .header .right img {
        max-width: 520px; }

  .menu .logo img {
    max-width: 200px; }
  .menu .share {
    padding-top: 18px; }
    .menu .share ul {
      text-align: left; } }
.keyFeatures {
  margin-top: 60px;
  margin-bottom: 60px; }
  .keyFeatures .mid {
    text-align: center; }
  .keyFeatures .desc {
    padding-top: 100px; }
    .keyFeatures .desc .media {
      margin-bottom: 25px;
      line-height: normal; }
      .keyFeatures .desc .media img {
        max-width: 50px;
        margin-top: 10px; }

@media (max-width: 992px) {
  .keyFeatures .desc {
    padding-top: 0; }
  .keyFeatures .mid img {
    max-width: 300px; } }
.hiw {
  
  background-color: rgb(0,172,238);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
  text-align: center; }
  .hiw .item {
    display: block;
    border: 4px solid #fff;
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 30px; }
    .hiw .item img {
      width: 100%;
      max-width: 130px;
      margin-bottom: 20px; }
    .hiw .item h5 {
      margin-bottom: 0; }

@media (max-width: 1200px) {
  .hiw .item {
    min-height: 300px; } }
@media (max-width: 992px) {
  .hiw .item {
    min-height: 330px; } }
@media (max-width: 768px) {
  .hiw {
    background-color: rgb(0,172,238);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .hiw .item {
      min-height: auto; } }
.contactUs {
  padding-top: 60px;
  padding-bottom: 60px; }
  .contactUs input, .contactUs textarea {
    border: 2px solid #000; }
  .contactUs label {
    font-family: "semiBold", sans-serif; }


    .row-bottom-margin { margin-bottom:-5px; }

.rect {        
    line-height: 1.3;         
}


#notePara{
    margin-top: 10px;
    color:gray;
    font-size: 8px;
}

.keyImg{
    text-align: end;
    margin-top: -50px;
}

.move-left{
    margin-left: -15px !important;
}

.text-black{
    color:black;
}

.key-font{
    font-size: 11px;
}

.font-s{
    font-size: 11px;   
}

.key{
    width:100% !important;
}

.bg-color{
  background-color: rgb(0,172,238);
}

#laptop{
  padding-top: 150px !important;
}
@media screen and (min-width:800px){

  .form-class{
      width: 80% !important;
      /* margin:auto; */
  }
  }
  
  .b-width{
      border-width: 5px;
  }
  
  .up{
      margin-left: 90%;
      position: relative;
      bottom: 70px;
  }

  #mobile{
    margin-top: 70px;
    margin-bottom: -35px;
  }

@media screen and (min-width:600px){
	#mobile{
		display:none;
	}
	
}

@media screen and (max-width:600px){
	#laptop{
		display:none;
	}
}
.footer {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: rgb(0,172,238);
  background-position: center top;
  background-size: auto 500px;
  background-repeat: no-repeat;
  color: #fff; }
  .footer .left img {
    max-width: 16px; }
  .footer a {
    color: #fff; }
  .footer .right {
    text-align: right; }
  .footer .mid {
    text-align: center; }
    .footer .mid a.btn-outline-light {
      border-width: 4px; }

@media (max-width: 992px) {
  .footer {
    background-color: rgb(0,172,238); 
    background-position: center top;
    background-size: auto 500px;
    background-repeat: no-repeat; }
    .footer .mid {
      margin-bottom: 20px; }
    .footer .left {
      text-align: center;
      margin-bottom: 20px; }
    .footer .right {
      text-align: center; } }
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 4;
  text-align: center;
  line-height: 30px;
  background: #212121;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.2s ease-out;
  opacity: 0; }
  #back-to-top img {
    max-width: 32px; }

#back-to-top.show {
  opacity: 1; }

/*# sourceMappingURL=style-all.css.map */
