@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?26375066');
  src: url('../font/fontello.eot?26375066#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?26375066') format('woff2'),
       url('../font/fontello.woff?26375066') format('woff'),
       url('../font/fontello.ttf?26375066') format('truetype'),
       url('../font/fontello.svg?26375066#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?26375066#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-emo-sleep:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-globe:before { content: '\e808'; } /* '' */
.icon-cloud:before { content: '\e809'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-cloud-thunder:before { content: '\e80b'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-bell:before { content: '\e80e'; } /* '' */
.icon-chat:before { content: '\e80f'; } /* '' */
.icon-book:before { content: '\e810'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-right-open-big:before { content: '\e814'; } /* '' */
.icon-left-open-big:before { content: '\e815'; } /* '' */
.icon-down-open-big:before { content: '\e816'; } /* '' */
.icon-up-open-big:before { content: '\e817'; } /* '' */
.icon-up-open-mini:before { content: '\e818'; } /* '' */
.icon-right-open-mini:before { content: '\e819'; } /* '' */
.icon-left-open-mini:before { content: '\e81a'; } /* '' */
.icon-down-open-mini:before { content: '\e81b'; } /* '' */
.icon-up-open:before { content: '\e81c'; } /* '' */
.icon-right-open:before { content: '\e81d'; } /* '' */
.icon-left-open:before { content: '\e81e'; } /* '' */
.icon-down-open:before { content: '\e81f'; } /* '' */
.icon-share:before { content: '\e820'; } /* '' */
.icon-basket:before { content: '\e821'; } /* '' */
.icon-trash:before { content: '\e822'; } /* '' */
.icon-login:before { content: '\e823'; } /* '' */
.icon-logout:before { content: '\e824'; } /* '' */
.icon-cog:before { content: '\e825'; } /* '' */
.icon-phone:before { content: '\e826'; } /* '' */
.icon-folder:before { content: '\e827'; } /* '' */
.icon-ccw:before { content: '\e828'; } /* '' */
.icon-cw:before { content: '\e829'; } /* '' */
.icon-arrows-ccw:before { content: '\e82a'; } /* '' */
.icon-list:before { content: '\e82b'; } /* '' */
.icon-list-add:before { content: '\e82c'; } /* '' */
.icon-signal:before { content: '\e82d'; } /* '' */
.icon-paper-plane:before { content: '\e82e'; } /* '' */
.icon-flight:before { content: '\e82f'; } /* '' */
.icon-droplet:before { content: '\e830'; } /* '' */
.icon-quote-right:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-quote-left:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-quote-left-alt:before { content: '\e835'; } /* '' */
.icon-quote-right-alt:before { content: '\e836'; } /* '' */
.icon-home:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-search:before { content: '\e83a'; } /* '' */
.icon-mail:before { content: '\e83b'; } /* '' */
.icon-heart:before { content: '\e83c'; } /* '' */
.icon-user:before { content: '\e83d'; } /* '' */
.icon-user-woman:before { content: '\e83e'; } /* '' */
.icon-user-pair:before { content: '\e83f'; } /* '' */
.icon-basket-1:before { content: '\e840'; } /* '' */
.icon-basket-alt:before { content: '\e841'; } /* '' */
.icon-wrench:before { content: '\e842'; } /* '' */
.icon-thumbs-up:before { content: '\e843'; } /* '' */
.icon-thumbs-down:before { content: '\e844'; } /* '' */
.icon-tag:before { content: '\e845'; } /* '' */
.icon-eye:before { content: '\e846'; } /* '' */
.icon-pencil-alt:before { content: '\e847'; } /* '' */
.icon-export:before { content: '\e848'; } /* '' */
.icon-mail-1:before { content: '\e849'; } /* '' */
.icon-heart-1:before { content: '\e84a'; } /* '' */
.icon-star:before { content: '\e84b'; } /* '' */
.icon-star-empty:before { content: '\e84c'; } /* '' */
.icon-cog-1:before { content: '\e84d'; } /* '' */
.icon-group:before { content: '\e84e'; } /* '' */
.icon-user-2:before { content: '\e84f'; } /* '' */
.icon-torso:before { content: '\e850'; } /* '' */
.icon-music:before { content: '\e851'; } /* '' */
.icon-picture:before { content: '\e852'; } /* '' */
.icon-camera-1:before { content: '\e853'; } /* '' */
.icon-bookmark-empty:before { content: '\e854'; } /* '' */
.icon-bookmark:before { content: '\e855'; } /* '' */
.icon-tags:before { content: '\e856'; } /* '' */
.icon-tag-1:before { content: '\e857'; } /* '' */
.icon-home-circled:before { content: '\e858'; } /* '' */
.icon-home-1:before { content: '\e859'; } /* '' */
.icon-quote:before { content: '\e85a'; } /* '' */
.icon-quote-circled:before { content: '\e85b'; } /* '' */
.icon-thumbs-down-1:before { content: '\e85c'; } /* '' */
.icon-thumbs-up-1:before { content: '\e85d'; } /* '' */
.icon-edit-alt:before { content: '\e85e'; } /* '' */
.icon-comment-alt:before { content: '\e85f'; } /* '' */
.icon-comment-1:before { content: '\e860'; } /* '' */
.icon-bell-1:before { content: '\e861'; } /* '' */
.icon-phone-1:before { content: '\e862'; } /* '' */
.icon-trash-1:before { content: '\e863'; } /* '' */
.icon-thumbs-up-2:before { content: '\e864'; } /* '' */
.icon-pencil:before { content: '\e865'; } /* '' */
.icon-comment-2:before { content: '\e866'; } /* '' */
.icon-location-1:before { content: '\e867'; } /* '' */
.icon-cup:before { content: '\e868'; } /* '' */
.icon-trash-2:before { content: '\e869'; } /* '' */
.icon-tag-2:before { content: '\e86a'; } /* '' */
.icon-eye-2:before { content: '\e86b'; } /* '' */
.icon-lock-1:before { content: '\e86c'; } /* '' */
.icon-photo:before { content: '\e86d'; } /* '' */
.icon-camera-2:before { content: '\e86e'; } /* '' */
.icon-user-3:before { content: '\e86f'; } /* '' */
.icon-star-1:before { content: '\e870'; } /* '' */
.icon-heart-2:before { content: '\e871'; } /* '' */
.icon-mail-2:before { content: '\e872'; } /* '' */
.icon-search-2:before { content: '\e873'; } /* '' */
.icon-music-1:before { content: '\e874'; } /* '' */
.icon-paper-plane-1:before { content: '\e875'; } /* '' */
.icon-globe-1:before { content: '\e876'; } /* '' */
.icon-lightbulb:before { content: '\e877'; } /* '' */
.icon-desktop:before { content: '\e878'; } /* '' */
.icon-tv:before { content: '\e879'; } /* '' */
.icon-cd:before { content: '\e87a'; } /* '' */
.icon-database:before { content: '\e87b'; } /* '' */
.icon-key:before { content: '\e87c'; } /* '' */
.icon-truck:before { content: '\e87d'; } /* '' */
.icon-wallet:before { content: '\e87e'; } /* '' */
.icon-t-shirt:before { content: '\e87f'; } /* '' */
.icon-comment-3:before { content: '\e880'; } /* '' */
.icon-comment-alt-1:before { content: '\e881'; } /* '' */
.icon-chat-2:before { content: '\e882'; } /* '' */
.icon-picture-1:before { content: '\e883'; } /* '' */
.icon-video:before { content: '\e884'; } /* '' */
.icon-th-large:before { content: '\e885'; } /* '' */
.icon-th-list-1:before { content: '\e886'; } /* '' */
.icon-ok:before { content: '\e887'; } /* '' */
.icon-th:before { content: '\e888'; } /* '' */
.icon-user-4:before { content: '\e889'; } /* '' */
.icon-star-2:before { content: '\e88a'; } /* '' */
.icon-heart-empty:before { content: '\e88b'; } /* '' */
.icon-heart-3:before { content: '\e88c'; } /* '' */
.icon-mail-3:before { content: '\e88d'; } /* '' */
.icon-search-3:before { content: '\e88e'; } /* '' */
.icon-lock-2:before { content: '\e88f'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-download-cloud:before { content: '\f015'; } /* '' */
.icon-heart-broken:before { content: '\f028'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-chat-1:before { content: '\f03d'; } /* '' */
.icon-user-1:before { content: '\f061'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-folder-1:before { content: '\f067'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-folder-empty:before { content: '\f069'; } /* '' */
.icon-lock-open-alt:before { content: '\f075'; } /* '' */
.icon-eye-1:before { content: '\f082'; } /* '' */
.icon-info-circled:before { content: '\f085'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
.icon-folder-open-empty:before { content: '\f4c2'; } /* '' */
.icon-camera:before { content: '\f4f7'; } /* '' */
.icon-search-1:before { content: '\f50d'; } /* '' */
.icon-lock-alt:before { content: '\f510'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-lock-open:before { content: '\f513'; } /* '' */